<div class="row top-spacer">
  <div class="col-lg-4 col-md-6" ng-repeat="party in $ctrl.parties">
    <rx-party-view view="party"></rx-party-view>
  </div>
  <div class="col-lg-12" ng-hide="$ctrl.isLoading"><i>Carregando</i></div>
</div>
