<div class="card b mb-3">
  <div class="card-header">
    <div class="pull-right">
      <div class="badge badge-info">started</div>
    </div>
    <h4 class="m0">{{$ctrl.view.sigla}}</h4><small class="text-muted">{{$ctrl.view.nome}}</small></div>
  <table class="table">
    <tbody>
    <tr>
      <td><strong>Fundação</strong></td>
      <td>{{$ctrl.view.criado_em}}</td>
    </tr>
    <tr>
      <td><strong> Filiados</strong></td>
      <td>{{ $ctrl.view.qtd_filiados}}</td>
    </tr>
    <tr>
      <td><strong> Código eleitoral</strong></td>
      <td>{{ $ctrl.view.codigo_eleitoral}}</td>
    </tr>
    <tr>
      <td colspan="2">
        <p><strong>Principais gastos</strong></p>
        <i ng-show="$ctrl.isLoading">Carregando</i>
        <p ng-hide="$ctrl.isLoading || $ctrl.data.length">Nenhuma informação</p>
        <canvas ng-show="$ctrl.data.length" class="chart chart-bar" chart-data="$ctrl.data" chart-labels="$ctrl.labels" chart-options="$ctrl.options"></canvas>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="card-footer text-center">
    <a class="btn btn-default" ui-sref="project-details">Visualizar detalhes</a>
  </div>
</div>
