<div class="topnavbar content-heading">
  <div class="col-4 pull-right">
    <div class="input-group">
      <input type="text" ng-model="$ctrl.searchInput"
             class="form-control" placeholder="Pesquisar um partido por sua sigla" aria-label="Pesquisar um partido por sua sigla">
    </div>
  </div>
  <h3 class="col-6"><a ui-sref="parties">Partidos</a></h3>
</div>
